<%= gist.escape('title') %>, last changed on: <%= gist.get('updated_at') %>
<ul>
<% gist.get('gist_files').each(function(gist_file) { %>
  <li>Title:<%= gist_file.escape('name') %></li>
  <li>Body:<%= gist_file.escape('body') %></li>
<% }); %>
</ul>
<div class="favorite-buttons <%= gist.get('favorites') ? "favorited" : "unfavorited" %>">
  <button class="favorite">Favorite</button>
  <button class="unfavorite">Unfavorite</button>
</div>
<button class="collapse" data-id="<%= gist.get("id") %>">Collapse</button>